In [ ]:
#Importing necessary packages
import pandas as pd

In [ ]:
#Loading the data with the firehouse coordinates
firehouse_listing = pd.read_csv("FDNY_Firehouse_Listing_20250401.csv")
firehouse_listing

,FacilityName,FacilityAddress,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Engine 4/Ladder 15,42 South Street,Manhattan,10005,40.703694,-74.007717,101,1,7,1000867,1000350001,Battery Park City-Lower Manhattan
1,Engine 6,49 Beekman Street,Manhattan,10038,40.709971,-74.005395,101,1,1501,1001287,1000930030,Battery Park City-Lower Manhattan
2,Manhattan Borough Command/Battalion 1/Engine 7...,100 Duane Street,Manhattan,10007,40.715339,-74.006300,101,1,33,1001647,1001500025,SoHo-TriBeCa-Civic Center-Little Italy
3,Ladder 8,14 N. Moore Street,Manhattan,10013,40.719574,-74.006620,101,1,33,1002150,1001890035,SoHo-TriBeCa-Civic Center-Little Italy
4,Engine 9/Ladder 6,75 Canal Street,Manhattan,10002,40.715408,-73.992834,103,1,16,1003898,1003000030,Chinatown
...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engine 167/Ladder 87,345 Annadale Road,Staten Island,10312,40.554191,-74.175479,503,51,17012,5075428,5056420006,Annadale-Huguenot-Prince's Bay-Eltingville
215,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island,10312,40.535418,-74.196059,503,51,20804,5083491,5068280065,Rossville-Woodrow
216,Engine 151/Ladder 76,7219 Amboy Road,Staten Island,10307,40.512739,-74.238950,503,51,248,5089056,5080400010,Charleston-Richmond Valley-Tottenville
217,Engine 168,1100 Rossville Ave,Staten Island,10309,40.553942,-74.213083,503,51,20801,5154879,5070670252,Rossville-Woodrow
218,Marine 9,305 Front Street,Staten Island,10304,40.629954,-74.072430,501,49,21,5169276,5004870100,Stapleton-Rosebank